/* 
    Document   : umap.animation
    Created on : 2013-4-19, 22:31:31
    Author     : yanmh
    Description:
        Purpose of the stylesheet follows.
*/

.ui-panel, .ui-view, .ui-view-container, .ui-main-container {
    /*-webkit-animation-duration: .6s;*/
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: forwards;
    /*animation-duration: .6s;*/
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-delay: 0.05s;
    -webkit-animation-delay: 0.05s;
}

@-webkit-keyframes translate-left {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}

@keyframes translate-left {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.slide-left-animation {
    right: -100%;
    -webkit-animation-name: translate-left;
    animation-name: translate-left;
}

.slide-left-p-animation {
    /*-webkit-animation-name: translate-left;
    animation-name: translate-left;*/
}

@-webkit-keyframes translate-left-r {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
}

@keyframes translate-left-r {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}

.slide-left-r-animation {
    -webkit-animation-name: translate-left-r;
    animation-name: translate-left-r;
}

.slide-left-r-p-animation {
    /*right:100%;
    -webkit-animation-name: translate-left-r;
    animation-name: translate-left-r;*/
}

@-webkit-keyframes translate-up {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
    }
}

@keyframes translate-up {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -100%, 0);
    }
}

.slide-up-animation {
    top: 100%;
    -webkit-animation-name: translate-up;
    animation-name: translate-up;
}

.slide-up-p-animation {
    -webkit-animation-name: translate-up;
    animation-name: translate-up;
}

@-webkit-keyframes translate-up-r {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes translate-up-r {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.slide-up-r-animation {
    top: 100%;
    -webkit-animation-name: translate-up-r;
    animation-name: translate-up-r;
}

.slide-up-r-p-animation {
    -webkit-animation-name: translate-up-r;
    animation-name: translate-up-r;
}

/* panel动画 */
@-webkit-keyframes panel-right {
    0% {
        -webkit-transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-230px);
    }
}

@keyframes panel-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-230px);
    }
}

@-webkit-keyframes panel-right-r {
    0% {
        -webkit-transform: translateX(-230px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes panel-right-r {
    0% {
        transform: translateX(-230px);
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes panel-left {
    0% {
        -webkit-transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(230px);
    }
}

@keyframes panel-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(230px);
    }
}

@-webkit-keyframes panel-left-r {
    0% {
        -webkit-transform: translateX(230px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes panel-left-r {
    0% {
        transform: translateX(230px);
    }
    100% {
        transform: translateX(0);
    }
}

.panel-push-left-animation, .panel-overlay-left-animation, .panel-push-left-r-animation {
    display: block;
    left: -230px;
    z-index: 100001;
}

.panel-reveal-left-animation, .panel-reveal-left-r-animation {
    display: block;
    left: 0;
    z-index: 0;
}

.panel-push-right-animation, .panel-overlay-right-animation, .panel-push-right-r-animation {
    display: block;
    right: -230px;
    z-index: 100001;
}

.panel-reveal-right-animation, .panel-reveal-right-r-animation{
    display: block;
    right: 0;
    z-index: 0;
}

.panel-push-left-animation, 
.panel-push-left-p-animation, 
.panel-overlay-left-animation,
.panel-reveal-left-p-animation {
    /*    animation-delay: 0s;
        -webkit-animation-delay: 0s;*/
    -webkit-animation-name: panel-left;
    animation-name: panel-left;
}

.panel-push-left-r-animation,
.panel-push-left-p-r-animation,
.panel-overlay-left-r-animation,
.panel-reveal-left-p-r-animation {
    /*    animation-delay: 0s;
        -webkit-animation-delay: 0s;*/
    -webkit-animation-name: panel-left-r;
    animation-name: panel-left-r;
}

.panel-push-right-animation, 
.panel-push-right-p-animation, 
.panel-overlay-right-animation,
.panel-reveal-right-p-animation {
    /*    animation-delay: 0s;
        -webkit-animation-delay: 0s;*/
    -webkit-animation-name: panel-right;
    animation-name: panel-right;
}

.panel-push-right-r-animation,
.panel-push-right-p-r-animation,
.panel-overlay-right-r-animation,
.panel-reveal-right-p-r-animation {
    -webkit-animation-name: panel-right-r;
    animation-name: panel-right-r;
}
.ui-panel,
.panel-push-right-p-animation.ui-view,
.panel-push-right-p-r-animation.ui-view{
    animation-delay: 0s;
    -webkit-animation-delay: 0s;    
}

/* 转场方式：fade*/
.fade-animation{
    -webkit-animation-name: fade;
    animation-name: fade;

}
.fade-r-p-animation{

    -webkit-animation-name: fade-r-p;
    animation-name:fade-r-p;
}
.fade-p-animation{

    -webkit-animation-name: fade-p;
    animation-name:fade-p;
}
.fade-r-animation{ 
    -webkit-animation-name: fade-r;    
    animation-name:fade-r;
}
@keyframes fade
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fade  
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fade
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fade-p {
    0% { 
        opacity:1.0;
    }
    100% {

        opacity:0.0;

    }
}
@-webkit-keyframes fade-r {
    0% {
        opacity:1.0;
    }
    100% {
        opacity:0.0;
    }
}

@-webkit-keyframes fade-r-p {
    0% {  
        opacity:0.0;
    }
    100% { 
        opacity:1.0;
    }

}

/* 转场方式：pop*/
.pop-p-animation{
    -webkit-animation-name: pop-p;
    animation-name: pop-p;

}
.pop-animation{
    -webkit-animation-name: pop;
    animation-name: pop;

}
.pop-r-p-animation{

    -webkit-animation-name: pop-r-p;
    animation-name:pop-r-p;
}
.pop-r-animation{  
    -webkit-animation-name: pop-r;
    animation-name:pop-r;
}
@-webkit-keyframes pop {
    0% {

        -webkit-transform: scale(0.5);

    }
    100% {

        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes pop-r {
    0% {
        opacity : 1.0;
        -webkit-transform: scale(1);

    }
    100% {
        opacity : 0.0;
        -webkit-transform: scale(0.5);

    }
}
@-webkit-keyframes pop-p {
    0% {
        opacity : 0.0;

    }
    100% {
        opacity : 1.0;
    }
}
@-webkit-keyframes pop-r-p {
    0% {    
        opacity : 0.0;
    }
    100% {
        opacity : 1.0;

    }

}
/* 转场方式：slide-dowm*/

.slide-down-animation {

    -webkit-animation-name: translate-down;
    animation-name: translate-down;
}

.slide-down-p-animation {
    top: 100%;
    -webkit-animation-name: translate-down;
    animation-name: translate-down;
}
.slide-down-r-animation {
    top:100%;
    -webkit-animation-name: translate-down-r;
    animation-name: translate-down-r;
}

.slide-down-r-p-animation {
    -webkit-animation-name: translate-down-r;
    animation-name: translate-down-r;
}

@-webkit-keyframes translate-down {
    0% {    
        -webkit-transform: translate3d(0, 0, 0);

    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);

    }

}
@-webkit-keyframes translate-down-r {
    0% {    
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d( 0,-100%, 0);

    }

}
/* 转场方式：flip*/
.flip-p-animation{
    -webkit-animation-name: flip-p;
    animation-name: flip-p;
    -webkit-backface-visibility:hidden; 
}
.flip-animation{
    -webkit-animation-name: flip;
    animation-name: flip;
    -webkit-backface-visibility:hidden;  
}
.flip-r-p-animation{
    -webkit-backface-visibility:hidden; 
    -webkit-animation-name: flip-r-p;
    animation-name:flip-r-p;
}
.flip-r-animation{
    -webkit-backface-visibility:hidden; 
    -webkit-animation-name: flip-r;
    animation-name:flip-r;
}
@-webkit-keyframes flip {
    0% {
        -webkit-transform:rotate3d(0,1,0,-180deg);
    }
    100% {
        -webkit-transform: rotate3d(0,1,0,0deg);
    }
}

@-webkit-keyframes flip-r {
    0% {
        -webkit-transform: rotate3d(0,1,0,0deg);
    }
    100% {
        -webkit-transform: rotate3d(0,1,0,180deg);
    }
}
@-webkit-keyframes flip-p {

    0% {
        -webkit-transform:rotate3d(0,1,0,0deg);
    }
    100% {
        -webkit-transform: rotate3d(0,1,0,-180deg);
    }
}
@-webkit-keyframes flip-r-p {
    0% {
        -webkit-transform: rotate3d(0,1,0,180deg);
    }
    100% {
        -webkit-transform: rotate3d(0,1,0,0deg);
    }
}

/*转场方式：slide-left-fade*/

.slide-left-fade-animation {
    right: -100%;
    -webkit-animation-name: translate-left-fade;
    animation-name: translate-left;
}

.slide-left-fade-p-animation {
    -webkit-animation-name: translate-left-fade-p;
    animation-name: translate-left-p;
}
.slide-left-fade-r-animation {
    right: -100%;
    -webkit-animation-name: translate-left-fade-r;
    animation-name: translate-left-fade-r;
}

.slide-left-fade-r-p-animation {
    -webkit-animation-name: translate-left-fade-r-p;
    animation-name: translate-left-fade-r-p;
}
@-webkit-keyframes translate-left-fade-r {
    0% {
        opacity:1.0;
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity:0.0;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes translate-left-fade-r-p {
    0% {
        opacity:0.0;
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity:1.0;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes translate-left-fade {
    0% { 
        opacity:0.0;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity:1.0;
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}
@-webkit-keyframes translate-left-fade-p {
    0% { 
        opacity:1.0;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity:0.0;
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}
/* 转场方式：turn*/  
.turn-animation{
    -webkit-animation-name: turn;
    animation-name: turn;

}
.turn-p-animation{
    -webkit-animation-name: turn-p;
    animation-name: turn-p;

}
.turn-r-animation{

    -webkit-animation-name: turn-r;
}
.turn-r-p-animation{

    -webkit-animation-name: turn-r-p;
}

@-webkit-keyframes turn {
    0% {
        opacity:0.0;
        -webkit-transform:rotate3d(0,1,0,-90deg);
    }
    100% {
        opacity:1.0;
        -webkit-transform: rotate3d(0,1,0,0deg);
    }
}
@-webkit-keyframes turn-p {
    0% {
        opacity:1.0;
        -webkit-transform: rotate3d(0,1,0,0deg);
    }
    100% {
        opacity:0.0;
        -webkit-transform: rotate3d(0,1,0,-90deg);
    }
}
@-webkit-keyframes turn-r {
    0% {
        opacity:0.0;
        -webkit-transform: rotate3d(-90deg);
    }
    100% {
        opacity:1.0;
        -webkit-transform: rotate3d(0deg);
    }
}

@-webkit-keyframes turn-r-p {
    0% {
        opacity:1.0;
        -webkit-transform:rotateY(0deg);
    }
    100% {
        opacity:0.0;
        -webkit-transform: rotateY(-90deg);
    }
}
/*转场方式：flow*/

.flow-animation {
    -webkit-animation-name: flow;
    animation-name: flow;
}

.flow-p-animation {
    left:-100%;
    -webkit-animation-name: flow;
    animation-name: flow;
}
.flow-r-animation {
    right:-100%;
    -webkit-animation-name:flow-r;
    animation-name:flow-r;
}

.flow-r-p-animation {
    -webkit-animation-name: flow-r;
    animation-name: flow-r;
}
@-webkit-keyframes flow {
    0% {
        -webkit-transform: scale(1);
    }

    25% {
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transform: scale(0.7);
    }

    75% {
        -webkit-transform: translate3d(-100%, 0, 0);
        -webkit-transform: scale(0.7);
    }

    100% {
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes flow-r {
    0% {
        -webkit-transform: scale(1);
    }

    20% {
        -webkit-transform: scale(0.7);
    }

    25% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(100%, 0, 0);
    }

    80% {
        -webkit-transform: scale(0.7);
    }

    100% {
        -webkit-transform: scale(1);
    }
}
/*选择菜单弹出*/

@-webkit-keyframes menu-animation-pop {
    0% {
        -webkit-transform: scale(0);
    }

    70% {
        -webkit-transform: scale(1);
    }

    85% {
        -webkit-transform: scale(0.99);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes menu-animation-pop {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1);
    }

    85% {
        transform: scale(0.99);
    }

    100% {
        transform: scale(1);
    }
}
/*图标抖动动画*/
@-webkit-keyframes icon-animation-quiver {
    0% {
        -webkit-transform: rotate(-2deg) translate(0.5px,0.5px);
    }

    50% {
        -webkit-transform: rotate(2deg) translate(0px,0px);
    }

    100% {
        -webkit-transform: rotate(-2deg) translate(-0.5px,-0.5px);
    }
}
@keyframes icon-animation-quiver {
    0% {
        transform: rotate(-2deg) translate(0.5px,0.5px);
    }

    50% {
        transform: rotate(2deg) translate(0px,0px);
    }

    100% {
        transform: rotate(-2deg) translate(-0.5px,-0.5px);
    }
}
/*工具箱弹出动画*/
@-webkit-keyframes icon-animation-tool {
    from {
        opacity: 0.0;
        height: 0px;
    }

    to {
    }
}
@keyframes icon-animation-tool {
    to {
        opacity: 0.0;
        height: 0px;
    }

    from {
    }
}
/*九宫格图标逐个淡入，每个图标动画间隔0.5s*/
.umap-table.fade-animation div a
{
    animation: fade 0.3s;
    -moz-animation: fade 0.3s;	 
    -webkit-animation: fade 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
.umap-table.fade-animation div:nth-child(1) a
{
    animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;	
    -webkit-animation-delay: 0.6s;
}
.umap-table.fade-animation div:nth-child(2) a
{
    animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(3) a
{
    animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(4) a
,.ui-grid-b.umap-table.fade-animation div:nth-child(4) a
{
    animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(5) a
{
    animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;
    -webkit-animation-delay: 2.2s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(6) a
{
    animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(7) a
{
    animation-delay: 3.0s;
    -moz-animation-delay: 3.0s;
    -webkit-animation-delay: 3.0s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(8) a
{
    animation-delay: 3.3s;
    -moz-animation-delay: 3.3s;
    -webkit-animation-delay: 3.3s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(9) a
{
    animation-delay: 3.8s;
    -moz-animation-delay: 3.8s;
    -webkit-animation-delay: 3.8s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(10) a
{
    animation-delay: 4.1s;
    -moz-animation-delay: 4.1s;
    -webkit-animation-delay: 4.1s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(11) a
{
    animation-delay: 4.6s;
    -moz-animation-delay: 4.6s;
    -webkit-animation-delay: 4.6s; 
}
.ui-grid-a.umap-table.fade-animation div:nth-child(12) a
{
    animation-delay: 4.9s;
    -moz-animation-delay: 4.9s;
    -webkit-animation-delay: 4.9s; 
}
.ui-grid-b.umap-table.fade-animation div:nth-child(3) a
,.ui-grid-c.umap-table.fade-animation div:nth-child(3) a
,.ui-grid-d.umap-table.fade-animation div:nth-child(3) a
,.ui-grid-e.umap-table.fade-animation div:nth-child(3) a
,.ui-grid-f.umap-table.fade-animation div:nth-child(3) a
{
    animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;	
    -webkit-animation-delay: 1.2s; 
}
.ui-grid-b.umap-table.fade-animation div:nth-child(5) a
{
    animation-delay: 2s;
    -moz-animation-delay: 2s;	
    -webkit-animation-delay: 2s;  
}
.ui-grid-b.umap-table.fade-animation div:nth-child(6) a
{
    animation-delay: 2.3s;
    -moz-animation-delay: 2.3s;	
    -webkit-animation-delay: 2.3s;  
}
.ui-grid-b.umap-table.fade-animation div:nth-child(7) a
{
    animation-delay: 2.8s;
    -moz-animation-delay: 2.8s;	
    -webkit-animation-delay: 2.8s;  
}
.ui-grid-b.umap-table.fade-animation div:nth-child(8) a
{
    animation-delay: 3.1s;
    -moz-animation-delay: 3.1s;	
    -webkit-animation-delay: 3.1s;  
}
.ui-grid-b.umap-table.fade-animation div:nth-child(9) a
{
    animation-delay: 3.4s;
    -moz-animation-delay: 3.4s;	
    -webkit-animation-delay: 3.4s;  
}.ui-grid-b.umap-table.fade-animation div:nth-child(10) a
{
    animation-delay: 3.9s;
    -moz-animation-delay: 3.9s;	
    -webkit-animation-delay: 3.9s;  
}
.ui-grid-b.umap-table.fade-animation div:nth-child(11) a
{
    animation-delay: 4.2s;
    -moz-animation-delay: 4.2s;	
    -webkit-animation-delay: 4.2s;  
}
.ui-grid-b.umap-table.fade-animation div:nth-child(12) a
{
    animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;	
    -webkit-animation-delay: 4.5s;  
}
.ui-grid-c.umap-table.fade-animation div:nth-child(4) a
,.ui-grid-d.umap-table.fade-animation div:nth-child(4) a
,.ui-grid-e.umap-table.fade-animation div:nth-child(4) a
,.ui-grid-f.umap-table.fade-animation div:nth-child(4) a
{
    animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;	 
}
.ui-grid-c.umap-table.fade-animation div:nth-child(5) a
{
    animation-delay: 2.0s;
    -moz-animation-delay: 2.0s;	
    -webkit-animation-delay: 2.0s;  
}
.ui-grid-c.umap-table.fade-animation div:nth-child(6) a
{
    animation-delay: 2.3s;
    -moz-animation-delay: 2.3s;
    -webkit-animation-delay: 2.3s;	 
}
.ui-grid-c.umap-table.fade-animation div:nth-child(7) a
{
    animation-delay: 2.6s;
    -moz-animation-delay: 2.6s;	
    -webkit-animation-delay: 2.6s;  
}
.ui-grid-c.umap-table.fade-animation div:nth-child(8) a
{
    animation-delay: 2.9s;
    -moz-animation-delay: 2.9s;
    -webkit-animation-delay: 2.9s;	 
}
.ui-grid-c.umap-table.fade-animation div:nth-child(9) a
{
    animation-delay: 3.4s;
    -moz-animation-delay: 3.4s;	
    -webkit-animation-delay: 3.4s; 
}
.ui-grid-c.umap-table.fade-animation div:nth-child(10) a
{
    animation-delay: 3.7s;
    -moz-animation-delay: 3.7s;
    -webkit-animation-delay: 3.7s;	 
}
.ui-grid-c.umap-table.fade-animation div:nth-child(11) a
{
    animation-delay: 4.0s;
    -moz-animation-delay: 4.0s;
    -webkit-animation-delay: 4.0s;	 
}
.ui-grid-c.umap-table.fade-animation div:nth-child(12) a
{
    animation-delay: 4.3s;
    -moz-animation-delay: 4.3s;	
    -webkit-animation-delay: 4.3s; 
}

/*九宫格图标逐个淡入，每个图标动画间隔0.5s*/
.umap-table.fly-animation{
    -webkit-perspective:400;
    -webkit-perspective-origin:center 200px;
}
.umap-table.fly-animation div:nth-child(4n+2) a
,.umap-table.fly-animation div:nth-child(4n+3) a
{
    -webkit-transform-origin:center center;
    -webkit-animation:logo 0.3s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0.8s;
    -webkit-animation-timing-function: ease-in;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: forwards;

}
.umap-table.fly-animation div:nth-child(4n+1) a
,.umap-table.fly-animation div:nth-child(4n+4) a
{
    -webkit-transform-origin:center center;
    -webkit-animation:logo 0.5s linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: forwards;

}
@-webkit-keyframes logo {
    /*                0% { -webkit-transform: translateZ(0); opacity:1;}
                50% { -webkit-transform: translateZ(-50000px); opacity:1; }
                60% { -webkit-transform: translateZ(-60000px); opacity:0; }
                100%   { -webkit-transform: translateZ(-100000px); opacity:0;}*/
    0% { -webkit-transform: translateZ(100px); opacity:0;}
    /*            50% { -webkit-transform: translateZ(35px); opacity:1; }
                60% { -webkit-transform: translateZ(15px); opacity:1; }*/
    100%   { -webkit-transform: translateZ(0px); opacity:1;}
}
/*.umap-table.fly-animation div:nth-child(4n+3) a
,.umap-table.fly-animation div:nth-child(4n+4) a{
    animation: fly-right 5s;
    -moz-animation: fly-right 5s;	 
    -webkit-animation: fly-top 0.5s 1 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.5s;
}*/

/*@-webkit-keyframes fly-left
        {
        0%		{-webkit-transform: scale(1.2,1.2);left:-40px;top:-40px;}
        25%		{-webkit-transform: scale(1.2,1.2);left:-30px;top:-30px;}
        50%		{-webkit-transform: scale(1.1,1.1);left:-20px;top:-20px;}
        75%		{-webkit-transform: scale(1.1,1.1);left:-10px;top:-10px;}
        100%		{-webkit-transform: scale(1,1);left:0px;top:0px;}
        }
@-webkit-keyframes fly-right
        {
        0%		{-webkit-transform: scale(1.2,1.2);left:100px;top:-100px;}
        25%		{-webkit-transform: scale(1.2,1.2);left:75px;top:-75px;}
        50%		{-webkit-transform: scale(1.1,1.1);left:50px;top:-50px;}
        75%		{-webkit-transform: scale(1.1,1.1);left:25px;top:-25px;}
        100%		{-webkit-transform: scale(1,1);left:0px;top:0px;}
        }*/

@-webkit-keyframes fly-top
{
    0%		{top:-150px;-webkit-transform: rotateX(00deg);}
    25%		{top:-100px;-webkit-transform: rotateX(00deg);}
    50%		{top:-50px;-webkit-transform: rotateX(0deg);}
    75%		{top:-20px;-webkit-transform: rotateX(0deg);}
    100%		{top:0px;-webkit-transform: rotateX(0deg);}
}
@-webkit-keyframes fly-left
{
    0%		{-webkit-transform: scale(1.1,1.1);left:-20px;top:-50px;}
    25%		{-webkit-transform: scale(1.1,1.1);left:-15px;top:-40px;}
    50%		{-webkit-transform: scale(1,1);left:-10px;top:-30px;}
    75%		{-webkit-transform: scale(1,1);left:-5px;top:-20px;}
    100%		{-webkit-transform: scale(1,1);left:0px;top:0px;}
}
@-webkit-keyframes fly-right
{
    0%		{transform: rotate(0deg);left:20px;top:-50px;}
    25%		{transform: rotate(0deg);left:15px;top:-40px;}
    50%		{transform: rotate(0deg);left:10px;top:-30px;}
    75%		{transform: rotate(0deg);left:5px;top:-20px;}
    100%		{transform: rotate(0deg);left:0px;top:0px;}
}


.umap-table.flip-animation div a
{
    animation: flip 2s;
    -moz-animation: flip 2s;	 
    -webkit-animation: flip 2s 1 0.5s;
}
@keyframes li-last-press-animation {
    0% {
        transform:scale(0.8,0.8);
        box-shadow: initial;

    }   
    33% {
        transform:scale(1,1);
        /*box-shadow: -2px 0px 8px #fff,0px -2px 8px #fff,0px 2px 8px #fff,2px 0px 8px #fff;*/
        box-shadow: -2px 0px 8px #eee,0px -2px 8px #eee,0px 2px 8px #eee,2px 0px 8px #eee;

    } 
    66% {
        transform:scale(0.8,0.8);
        box-shadow: initial;
    }
    100% {
        transform: scale(1,1);
        box-shadow: -2px 0px 8px #eee,0px -2px 8px #eee,0px 2px 8px #eee,2px 0px 8px #eee;
    }
}
/*列表移动动画*/
@-webkit-keyframes li-last-press-animation {
    0% {
        /*-webkit-transform:scale(0.99,0.99);*/
        -webkit-transform:scale(0.8,0.8);
        box-shadow: initial;

    }   
    33% {
        -webkit-transform:scale(1,1);
        box-shadow: -2px 0px 8px #eee,0px -2px 8px #eee,0px 2px 8px #eee,2px 0px 8px #eee;
    } 
    66% {
        /*-webkit-transform:scale(0.99,0.99);*/
        -webkit-transform:scale(0.8,0.8);
    }
    100% {
        -webkit-transform: scale(1,1);
        box-shadow: -2px 0px 8px #eee,0px -2px 8px #eee,0px 2px 8px #eee,2px 0px 8px #eee;
    }
}

div.toast.fadein{
    animation: toast_fadein 0.5s ease;
    -webkit-animation: toast_fadein 0.5s ease;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes toast_fadein{
    from {
        opacity: 0;
        -webkit-opacity: 0;
        bottom: 0px;
    }
    to {
        opacity: 1;
        -webkit-opacity: 1;
        bottom: 80px;
    }
}

@-webkit-keyframes toast_fadein{
    from {
        opacity: 0;
        -webkit-opacity: 0;
        bottom: 0px;
    }
    to {
        opacity: 1;
        -webkit-opacity: 1;
        bottom: 80px;
    }
}

div.toast.fadeout{
    animation: toast_fadeout 0.5s ease;
    -webkit-animation: toast_fadeout 0.5s ease;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes toast_fadeout{
    from {
        opacity: 1;
        -webkit-opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-opacity: 0;
    }
}

@-webkit-keyframes toast_fadeout{
    from {
        opacity: 1;
        -webkit-opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-opacity: 0;
    }
}