@charset "UTF-8";
/**
 * 
 * @authors hl-jiangtao (hl-jiangtao@chinaunicom.cn)
 * @date    2015-05-06 10:08:42
 * @version 0.8
 */
/** 去掉返回按钮上的文字 */
 .ui-btn-navigator.ui-left.umap-btn-back {
      color: transparent;
}
/**修改列表footer上下页的样式
.umap-body.ui-with-footer{
    border-bottom: 1px #e7e7e7 solid;
}
*/
.umap-footer .ui-grid-a .ui-li-toolbar {
  padding-left: 0px;
  padding-right: 0px;
}
.umap-footer.umap-list-footer .ui-toolbar .ui-btn {
    margin: 0px auto;
    height: 50px;
    line-height: 50px;
}
.ui-footer{
     height: 49px;
}
.umap-list-footer .ui-btn {
     box-shadow: none;
     border-radius: none;
    border: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff), to( #ffffff ));
    background-image: -webkit-linear-gradient( #ffffff , #ffffff );
    background-image:    -moz-linear-gradient( #ffffff , #ffffff );
    background-image:     -ms-linear-gradient( #ffffff , #ffffff );
    background-image:      -o-linear-gradient( #ffffff , #ffffff );
    background-image:         linear-gradient( #ffffff , #ffffff );
}
.umap-footer.umap-list-footer.umap-footer-a.ui-footer .ui-btn {
  border-radius: inherit;
  border: solid 0px #b4e9f9;
  margin: 0% auto;
}
.umap-list-footer .ui-li-toolbar:last-child .ui-btn-icon {
  background-image: url("../images/nextpage.png");
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
  margin-top: 13px;
  left: 20px;
}
.umap-list-footer .ui-li-toolbar:first-child .ui-btn-icon {
  background-image: url("../images/prepage.png");
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
  margin-top: 13px;
  left: 20px;
}

.umap-list-footer .ui-grid-a .ui-li-toolbar:first-child {
    border-right: 1px #e7e7e7 solid;
}
.umap-list-footer .ui-li-toolbar .ui-btn.active {
  box-shadow: none;
  text-shadow: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #b4e9f9), to( #b4e9f9 ));
  background-image: -webkit-linear-gradient( #b4e9f9 , #b4e9f9 );
  background-image: -moz-linear-gradient( #b4e9f9 , #b4e9f9 );
  background-image: -ms-linear-gradient( #b4e9f9 , #b4e9f9 );
  background-image: -o-linear-gradient( #b4e9f9 , #b4e9f9 );
  background-image: linear-gradient( #b4e9f9 , #b4e9f9 );
}
/**修改列表样式*/
.erp-li .umap-list-left,.erp-li .umap-list-right
{
    font-size:13px;
    line-height: 1.8;
}
.erp-li .umap-list-title span
{
    font-size:16px;
}

/**修改详细select控件样式*/

.ui-select>span:last-of-type {
    //background-position: 50% 50%;
    //background-size: 50%;
    //-webkit-border-radius: 0em 0.3em 0.3em 0em;
    //background-color: #e5e5e5;
    //width: 30px;
    //right: 0px;
    height: 17px;
    margin-top: 7px;
}
.umap-tree .ui-ti-icon
{
  background-position: 50% 50%;
  background-size: 100%;
  background-color: transparent;
  border-left: 1px solid #e5e5e5;
  width: 30px;
  padding-left: 8px;
}
/**九宫格搜索控件*/
.umap-lb
{
  height: 120px;
  width: 100%;
  background-image: url("../images/main/lb.png");
  background-size: 100% 100%;
  
}
.umap-btn-search
{
background-image: url("../images/main/search.png");
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-color: white;
  width: 35px;
  height: 35px;
  border-left: 0.1em solid #ebebeb;
  background-position: 10px 6px;
}
/**九宫格footer控件*/

/*
.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.mainA {
  background-image: url("../images/main/mainA.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  border: none;
  border-radius: 0;
  background-position: 10px;
  width: 50px;
  margin: 0 auto;
}
.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.mainB,.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.mainA.active {
  background-image: url("../images/main/mainB.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid #64cffd;
  background-position: 10px;
  width: 50px;
  margin: 0 auto;
}

.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.appstoreA {
  background-image: url("../images/main/appstoreA.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  border: none;
  border-radius: 0;
  background-position: 10px;
  width: 50px;
  margin: 0 auto;
}
.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.appstoreB,.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.appstoreA.active{
  background-image: url("../images/main/appstoreB.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid #64cffd;
  background-position: 10px;
  width: 50px;
  margin: 0 auto;
}
.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.bookA {
  background-image: url("../images/main/bookA.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  border: none;
  border-radius: 0;
  background-position: 10px;
  width: 50px;
  margin: 0 auto;
}
.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.settingA {
  background-image: url("../images/main/setingA.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  border: none;
  border-radius: 0;
  background-position: 10px;
  width: 50px;
  margin: 0 auto;
}
.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.bookB,.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.bookA.active{
  background-image: url("../images/main/bookB.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid #64cffd;
  background-position: 10px;
  width: 50px;
  margin: 0 auto;
}
.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.settingB,.umap-footer.umap-footer-a.ui-footer .ui-btn.ui-shadow.settingA.active{
  background-image: url("../images/main/setingB.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 50px;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid #64cffd;
  background-position: 10px;
  width: 50px;
  margin: 0 auto;
}
.ui-footer .ui-grid-c .ui-li-toolbar.main_li {
  border-bottom: 0px solid #64cffd;
}
.umap-tab-bottom .ui-toolbar .ui-btn.active {
    background: #ffffff;
}

*/
/**九宫格公文列表图标*/
.erp-tydb-list .ui-li-icon {
    display: block;
    background-image: url("../images/main/main_gwA.png");
    background-position: 0px 10px;
    width: 32px;
    right:inherit;
    margin-left: 10px;
}
.erp-tydb-list .umap-list-title {
  padding-left: 52px;
}
.erp-tydb-list span.umap-list-left {
  padding-left: 52px;
}
.umap-list-a.ui-listview>.ui-li.erp-li.erp-tydb-list .ui-li-nav {
    padding: 8px 10px 8px 0px;
}
.erp-cwbz .ui-li-icon {
    background-image: url("../images/main/main_bzA.png");
}
.erp-htgl .ui-li-icon {
    background-image: url("../images/main/main_htA.png");
}
.erp-wzdzsw .ui-li-icon {
    background-image: url("../images/main/main_cgA.png");
}
.erp-xmgl .ui-li-icon {
    background-image: url("../images/main/main_xmA.png");
}
.erp-other .ui-li-icon{
    background-image: url("../images/main/other.png");
}
.erp-sl .ui-li-icon{
    background-image: url("../images/main/main_slA.png");
}
.erp-gg .ui-li-icon {
  background-image: url("../images/main/main_ggA.png");
}
.erp-xw .ui-li-icon {
  background-image: url("../images/main/main_news.png");
}
.erp-yj .ui-li-icon {
  background-image: url("../images/main/main_sjxA.png");
}

.erp-ydyj .ui-li-icon {
  background-image: url("../images/main/readed.png");
}
/**已经安装应用*/
.yayy .biaoti {
  margin-top: 25px;
}
.umap-header-right-button.app-right {
    width: 24px;
    height: 24px;
    margin: 10px;
    background-size: contain;
    background-image: url("../images/saveA.png");
    background-repeat: no-repeat;
}
.umap-header-right-button.app-right:active,{
    width: 24px;
    height: 24px;
    margin: 10px;
    background-size: contain;
    background-image: url("../images/saveB.png");
    background-repeat: no-repeat;
}

.yayy .biaoti {
    margin-top: 10px;
}
.yayy .type {
  margin-left: 90px;
  position: absolute;
  margin-top: 30px; 
  font-size: 13px;
  font-weight: normal;
  color: #25b5e9;
}
.yayy .button {
    background-image: url("../images/appstore.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: right;
    margin-top: -30px;
    margin-right: 10px;
    height: 24px;
    width: 24px;
}
.yayy .button:hover {
  background-image: url("../images/app_btnA.png");
}
.yayy .app_oa {
    background-image: url("../images/main/main_gwA.png");
}
.yayy .app_sjx {
    background-image: url("../images/main/main_sjxA.png");
}
.yayy .app_cg {
  background-image: url("../images/main/main_cgA.png");
}
.yayy .app_ht {
  background-image: url("../images/main/main_htA.png");
}
.yayy .app_bz {
  background-image: url("../images/main/main_bzA.png");
}
.yayy .app_tx {
  background-image: url("../images/main/main_txA_h.png");
}

.tygw_file a.linkinfo 
{
    float:right;
}
.erp-li.ui-li {
    padding-bottom: 0px;
    border-bottom: 1px solid #e7e7e7;
}
.umap-body.ui-with-footer {
  bottom: 50px;
  border-bottom: none;
}